/*###################*/
/*     WATCHFACE     */
/*###################*/
.watchface {
  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
  viewport-fill: none;
}
/*###################*/
/* TOP - CLOCK & DATE*/
/*###################*/
.container-clock {
  x: 0;
  y: 0;
  width: 100%;
  height: 25%;
  fill: none;
}

.container-clock text {
  /*font-family: Seville-Regular;*/
  font-family: Colfax-Regular;
  text-anchor: middle;
}

.container-day text {
  /*font-family: Seville-Bold;*/
  font-family: Colfax-Regular;
}

.container-time {
}

.container-time text {
  x: 100; 
  text-length: 100;
  text-anchor: start;
}

.container-clock-time {
  font-size: 70;
  x: 50%;
  y: 25%;
  fill: white;
}

.container-clock-day {
  font-size: 18;
  x: 50;
  y: 13%;
}

.container-clock-date {
  font-size: 38;
  x: 50;
  y: 24%+3;
  fill: white;
}

/*###################*/
/* CENTER - ACTIVITY */
/*###################*/
.container-activity {
  x: 0;
  y: 25%;
  width: 100%;
  height: 50%;
  fill: none;
}

.container-activity text {
  /*font-family: Seville-Regular;*/
  text-anchor: middle;
  text-length: 32;

}

.activity-text {  
  x: 0;
  y: 30%;
  width: 40%;
  height: 45%;
  fill: none;
}

.activity-text text {
  /*font-family: Seville-Bold;*/
  font-family: Colfax-Regular;
  font-size: 24;
  text-anchor: start;
}

.activity-text-top {
  width: 60%;
  x: 20;
  y: 130;
  opacity: 0.86;
}

.activity-text-center {
  x: 20;
  y: 160;
}

.activity-text-bottom {
  x: 20;
  y: 190;
}

.activity-values {  
  x: 40%;
  y: 40%;
  width: 60%;
  height: 40%;
  fill: none;
}

.activity-values text {
  text-anchor: start;
  font-size: 26;
}

.activity-values-top {
  x: 115;
  y: 130;
  fill: white;
}

.activity-values-center {
  x: 115;
  y: 160;
  fill: white;  
}

.activity-values-bottom {
  x: 115;
  y: 190;
  fill: white;
}
/*###################*/
/*  BOTTOM - ICONS   */
/*###################*/
.container-icons {
  x: 0;
  y: 75%;
  width: 100%;
  height: 25%;
  fill: none;
}

.container-icons text {
  /*font-family: Seville-Regular;*/
  font-family: Colfax-Regular;
  text-anchor: middle;
  text-length: 32;
}

.container-temp text {
  /*font-family: Seville-Regular*/
  font-family: Colfax-Regular;
}

.container-bpm text {
  /*font-family: Seville-Bold;*/
  font-family: Colfax-Regular;
}

.icons-weather {
  width: 38;
  height: 30;
  x: 62;
  y: 222;
}

.icons-heart {
  width: 20;
  height: 16;
  x: 153;
  y: 255;
}

.container-icons-left {
  font-size: 22;
  x: 50;
  y: 276;
  fill: white;
  opacity: 0.6;
}

.container-icons-center{
  font-size: 24;
  x: 130;
  y: 260;
  fill: white;
}

.container-icons-bpm {
  font-size: 16;
  x: 172;
  y: 250;
}

.container-icons-right {
  font-size: 20;
  x: 245;
  y: 260;
  fill: white;
}

.arc-battery-background {
  fill: fb-extra-dark-gray;
  opacity: 0.4;
  arc-width: 5;
  x: 221;
  y: 228;
  width: 50;
  height: 50;
}

#BATTERY-ARC {
  fill: white;
  arc-width: 5;
  sweep-angle: 0;
  x: 221;
  y: 228;
  width: 50;
  height: 50;
}

.arc-activity-background {
  fill: fb-extra-dark-gray;
  opacity: 0.4;
  arc-width: 25;
  x: 20;
  y: 220;
  width: 65;
  height: 65;
}

#ACTIVITY-ARC-OUTSIDE {
  arc-width: 7;
  opacity: 0.6;
  sweep-angle: 0;
  x: 20;
  y: 220;
  width: 65;
  height: 65;
}

#ACTIVITY-ARC-MIDDLE {
  arc-width: 7;
  opacity: 0.6;
  sweep-angle: 0;
  x: 29;
  y: 229;
  width: 47;
  height: 47;
}

#ACTIVITY-ARC-CENTER {
  arc-width: 7;
  opacity: 0.6;
  sweep-angle: 0;
  x: 38;
  y: 238;
  width: 29;
  height: 29;
}
/*###################*/
/*  COLORS - ICONS   */
/*###################*/
.pink {
  fill: #fa114f;
  opacity: 0.83;
}
 
.red {
  fill: #ff3b30;
  opacity: 0.83;
}
 
.orange {
  fill: #ff9500;
  opacity: 0.85;
}
 
.yellow {
  fill: #ffe620;
  opacity: 0.86;
}
 
.green {
  fill: #04de71;
  opacity: 0.86;
}
 
.teal {
  fill: #00f5ea;
  opacity: 0.85;
}
 
.blue-light {
  fill: #5ac8fa;
  opacity: 0.85;
}
 
.blue {
  fill: #2094fa;
  opacity: 0.83;
}
 
.purple {
  fill: #787aff;
  opacity: 0.80;
}